- name: Registrar resultados Firewall
  ansible.builtin.set_fact:
    audit_results: "{{ audit_results | default({}) | combine({
      'firewall': {
        'profiles_enabled': (fw_profiles.stdout | from_json | default([]) | selectattr('Enabled', 'equalto', true) | list | length) == 3,
        'logging_enabled': (fw_logging.stdout | from_json | default({})).LogBlocked == true
      }}) }}"